<!DOCTYPE html>
<html>
  <head>
    <title>NOTDVS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag 'https://d3dy5gmtp8yhk7.cloudfront.net/2.2.0-rc1/pusher.min.js' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>

    <script>
      window.ENV = <%= raw ENV.to_h.slice('PUSHER_KEY', 'GITHUB_APP_ID', 'GITHUB_CALLBACK_URL').to_json %>

      Notdvs.setup()
      Notdvs.advanceReadiness()
    </script>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "foundation" %>
    <%= javascript_include_tag "foundation.dropdown" %>
  </body>
</html>
